project:
  type: website
  
metadata-files:
  - "scheduled-docs_files/draft-list.yml"
  - "scheduled-docs_files/sidebar-contents.yml"
  
# Course Metadata
course-name: Stat 20
semester: Fall 2024
site-url: "https://stat20.berkeley.edu/fall-2024"


# Website Configuration and Layout
website:
  title: "Stat 20"
  description: "Introduction to Probability and Statistics at UC Berkeley"
  google-analytics: G-WP7F4QKDC8
  search:
    location: navbar
    type: overlay
  site-url: "https://stat20.berkeley.edu/fall-2024"
  repo-url: "https://github.com/berkeley-stat20/fall-2024"
  favicon: assets/stat20-hex.png
  image: assets/stat20-hex.png
  open-graph:
    site-name: "Stat 20"
    image: assets/stat20-hex.png
  twitter-card: true
  page-navigation: true
  reader-mode: true
  navbar:
    title: false
    logo: assets/stat20-hex-small.png
    logo-alt: "Stat 20 logo"
    background: white
    foreground: "gray-800"
    collapse-below: sm
    left:
      - text: Syllabus
        href: syllabus.qmd
      - text: Office Hours
        href: office-hours.qmd
      - text: "Notes"
        href: notes.qmd
      - text: Assignments
        href: assignments.qmd
      - text: Tutorials
        href: tutorials.qmd
    tools:
      - icon: chat-fill
        href: https://edstem.org/
        aria-label: Ed Discussion Forum
      - icon: bar-chart-fill
        href: https://www.gradescope.com/
        aria-label: Gradescope
      - icon: r-circle-fill
        href: https://stat20.datahub.berkeley.edu/
        aria-label: RStudio
  page-footer: 
    background: white
    foreground: "gray-800"
    border: false
    right:
      - text: License
        href: license.qmd

# Format-specific Metadata
format:
  html:
    theme:
      - sandstone
      - assets/styles.scss

# General Metadata
execute:
  freeze: false
  message: false
  warning: false
  fig-align: center
