project:
  type: default
  
format:
  html:
    theme: 
      - sandstone
      - ../../assets/styles.scss
    toc: true
    published-title: "class date"
  
  revealjs:
    author: "STAT 20: Introduction to Probability and Statistics"
    height: 900
    width: 1600
    theme: ../../assets/slides.scss
    multiplex: false
    transition: fade
    slide-number: c
    incremental: false 
    center: false
    menu: false
    highlight-style: github
    progress: false
    code-overflow: wrap
    title-slide-attributes:
      data-background-image: ../../assets/stat20-hex-bg.png
      data-background-size: contain
    
execute: 
  freeze: auto