project:
  type: website
  output-dir: _output

# Format-specific Metadata
format:
  html:
    theme: 
      - sandstone
      - assets/styles.scss
    toc: true
    published-title: "class date"
    reference-location: document
    code-fold: true
    code-link: true
    code-summary: ""
  revealjs:
    author: "STAT 20: Introduction to Probability and Statistics"
    height: 900
    width: 1600
    theme: ../../assets/slides.scss
    multiplex: false
    transition: fade
    slide-number: c
    incremental: false
    center: false
    menu: false
    highlight-style: github
    progress: false
    code-overflow: wrap
    title-slide-attributes:
      data-background-image: ../../assets/stat20-hex-bg.png
      data-background-size: contain

# General Metadata
execute:
  freeze: auto
  message: false
  warning: false
  fig-align: center
  
# Website Configuration and Layout
website:
  title: "Stat 20 Draft"
  description: "Introduction to Probability and Statistics at UC Berkeley"
  search:
    location: navbar
    type: overlay
  site-url: "https://www.stat20.org/"
  repo-url: "https://github.com/stat20/course-materials"
  favicon: assets/favicon.ico
  image: assets/stat20-hex.png
  open-graph:
    site-name: "Stat 20"
    image: assets/stat20-hex.png
  twitter-card: true
  page-navigation: true
  navbar:
    title: "Draft"
    logo: assets/stat20-hex-small.png
    background: warning
    foreground: "gray-800"
    collapse-below: sm
    left:
      - text: Syllabus
        href: syllabus.qmd
      - text: Schedule
        href: schedule.qmd
      - text: Notes
        href: notes.qmd
      - text: Labs
        href: labs.qmd
      - text: Problem Sets
        href: problem-sets.qmd
    right:
      - text: "{{< fa comments >}}"
        href: https://edstem.org/us/courses/31657
        aria-label: Ed Discussion Forum
      - text: "{{< fa chart-column >}}"
        href: https://www.gradescope.com/courses/416233
        aria-label: Gradescope
      - text: "{{< fa brands r-project >}}"
        href: https://stat20.datahub.berkeley.edu/
        aria-label: RStudio
  page-footer: 
    background: white
    foreground: "gray-800"
    border: false
    center: 
      - text: "{{< fa comments >}}"
        href: https://edstem.org/us/courses/31657
        aria-label: Ed Discussion Forum
      - text: "{{< fa chart-column >}}"
        href: https://www.gradescope.com/courses/416233
        aria-label: Gradescope
      - text: "{{< fa brands r-project >}}"
        href: https://stat20.datahub.berkeley.edu/
        aria-label: RStudio
    right:
      - text: License
        href: license.qmd
  