.sidebar-item-container:has(a.sidebar-item-toggle[data-bs-target^="#quarto-sidebar-section-"][aria-expanded="true"]) {
  background-color: #eff0f3;
  border-radius: 6px;
  padding: 3px 16px 3px 8px;
  display: flex;
  align-items: center;
}
