// fonts
@import url(https://fonts.googleapis.com/css?family=Cabin:600,600i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Commissioner&display=swap);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:Bold,700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
$font-family-sans-serif: "Commissioner" !default;
$presentation-font-size-root: 46px;

// colors
:root {
  --red-100: #bf2642;
  --orange-100: #f2a03d;
  --green-100: #02733e;
  --purple-100: #73245e;
}

$red: #bf2642;
$orange: #f2a03d;
$green: #02733e;
$purple: #73245e;
$dark-purple: #39122f;
$blue: #00817c;
$beige: #f8f5f0;
$dark-beige: #9f8e71;
$light-orange: lighten($orange, 60%);

// set your custom colors here
$body-color: #5c5859 !default;
$background-color: #fff !default;

// headings
$presentation-heading-color: $blue !default;
$presentation-heading-font: "Cabin", "Commissioner", sans serif !default;

// code
$code-block-bg: $beige !default;
$code-color: $purple !default;
$code-block-border-color: $dark-beige !default;

/*-- scss:rules --*/

details>summary {
  font-size: 0.75em;
}

.small {
  font-size: 0.75em;
}

.reveal .slide .question {
  border-left: 3px solid #7090A5;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #A9BCC9;
}

.reveal .slide .poll {
  border-left: 10px solid $orange;
  border-top: 3px solid $orange;
  border-right: 3px solid $orange;
  border-bottom: 3px solid $orange;
  margin-left: 20px;
  margin-top: 1em;
  border-radius: 10px;
  padding-left: 0.7em;
  padding-right: 0.3em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: $beige;
}

/*
.reveal .slide .poll::before {
      font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f681";
      color: $orange;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
}
*/

.reveal .slide blockquote p {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 600;
  font-size: .9em;
  color: $body-color !important;
}


.reveal .slide .appex {
  border-left: 3px solid #003559;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #EBF7FF;
}

.bigadage {
  font-size: 250%;
  font-family: Amatic SC;
}

.smalladage {
  font-size: 150%;
  font-family: Amatic SC;
}

span.block-el {
  font-weight: 700;
  color: var(--green-100);
  text-align: center;
}

div.block-el {
  font-weight: 700;
  color: white;
  background-color: var(--green-100);
}

span.inline-el {
  font-weight: 700;
  color: var(--red-100);
  text-align: center;
}

div.inline-el {
  font-weight: 700;
  color: white;
  background-color: var(--red-100);
}

span.meta-el {
  font-weight: 700;
  color: var(--orange-100);
  text-align: center;
}

div.meta-el {
  font-weight: 700;
  color: white;
  background-color: var(--orange-100);
}

/*
.reveal .slide h1 {
  font-family: 'Nanum Myeongjo', serif;
}
*/

.v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

/*
.slide-background.center.present {
  background-color: #f8f5f0;
}
*/

/*
#title-slide {
  text-align: left;
  font-family: 'Nanum Myeongjo', serif;
  margin: 5em 0em 0em 0em; // or margin-top: 1em;
}
*/

#title-slide {
  text-align: center;
  font-family: 'Avenir', sans-serif;
  margin: 5em 0em 0em 0em; // or margin-top: 1em;
}

#title-slide h1 {
  font-family: 'Avenir', sans-serif;
  color: $body-color;
  font-weight: 400;
}

#title-slide .institute {
  font-style: italic;
  font-size: 80%;
}

#title-slide .author {
  color: $body-color;
}

/*
#title-slide p.author::before {
  content: "";
  display: block;
  border: none;
  background-color: $body-color;
  color: $body-color;
  height: 3px;
  margin-bottom: 1em;
}
*/

#title-slide p, #title-slide a {
  color: $body-color;
}

.footer {
  bottom: 8px !important;
}

.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  right: 10px !important;
  max-height: 40% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-menu-button {
  left: 10px !important;
  bottom: 10px !important;
}