/*-- scss:defaults --*/

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Cinzel:wght@400;500&display=swap');

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f8f5f0 !default;
$gray-300: #dfd7ca !default;
$gray-400: #ced4da !default;
$gray-500: #98978b !default;
$gray-600: #8e8c84 !default;
$gray-700: #495057 !default;
$gray-800: #3e3f3a !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #0e6876 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f47c3c !default;
$yellow:  #ffc107 !default;
$green:   #93c54b !default;
$teal:    #20c997 !default;
$cyan:    #29abe0 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-800 !default;

// Body

$body-color:                $gray-800 !default;

// Fonts

$font-family-sans-serif: 'Avenir', sans-serif;
$headings-font-weight:        400 !default;

// Buttons

$btn-padding-y-sm: .25rem;
$btn-padding-x-sm: .5rem;
$btn-font-size-sm: .75rem;


/* css styles */

.dropcap {
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

h1 {
    color: $primary;
}

h2 {
    color: $primary;
}

.v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

/* homepage */

.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.banner-text {
    color: $primary;
    font-size: clamp(1.8em, 6vw, 4em);
    line-height: .9;
    padding-top: .6em;
}

.week-x-box {
  display: grid;
  gap: 8px;
  grid-template-columns: 2fr 1fr;
  border-radius: 3px;
  box-shadow: 0 0 0.5rem $gray-300;
  //filter: drop-shadow(0 0 0.75rem crimson);
  
  .daily-sched {
    display: grid;
    grid-template-columns: 1fr 3fr;
    //row-gap: 1px; 
    padding: 3px;
    
    .date-cell {
      border-bottom: 1px solid $gray-300;
      padding: 2px;
    }
    
    .materials-cell {
      border-bottom: 1px solid $gray-300;
      padding: 2px;
      
      .daily-topic {
        font-size: 1em;
      }
      
      .PS-btn {
        
      }
    }
    
    .date-cell:nth-last-child(-n+2) {
      border-bottom: none; /* Removes the border from the last two items (the last row) */
    }

    .materials-cell:nth-last-child(-n+2) {
      border-bottom: none; /* Removes the border from the last two items (the last row) */
    }
  }
  
  .resources {
    border-left: 1px solid $gray-300;
    padding: 3px;
  }
  
}


@media (min-width: 900px) {
.content-block {
  margin-left: 50px;
  margin-right: 50px;
}
}

@media (min-width: 1200px) {
.content-block {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
}

@media (max-width: 768px) {
#banner {
  order: 2;
  margin: 0em 1em 0em 1em !important;
  padding-top: 0em;
}
.banner-text {
  padding-top: 0em;
}
#hex {
  order: 1;
  //padding: 1.5em 3em 0em 3em;
}

.week-x-box {
  grid-template-columns: 1fr;
  
  .daily-sched {
    grid-template-columns: 1fr;
    
    .date-col {
      border-bottom: none
    }
  }
  
  .resources {
    border-left: none;
    border-top: 1px solid $gray-300;
  }
}
}
