on:
  workflow_dispatch:
  push:
    branches: main
name: "Publish to stat20staff.netlify.app"
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      # for accessing this repo's assets in the container
      - name: Check out the repo
        uses: actions/checkout@v3
      # run the container, attaching this repo as a working directory
      - name: Run the build process with Docker
        uses: addnab/docker-run-action@v3
        env:
           NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
           # QUARTO_PROFILE: staff-site
        with:
          image: stat20/stat20-docker:latest
          options: -v ${{ github.workspace }}:/home/rstudio/stat20 -e NETLIFY_AUTH_TOKEN=${{ secrets.NETLIFY_AUTH_TOKEN }} -e QUARTO_PROFILE=toc,staff-site
          shell: bash
          run: |
            # execute from the textbook
            cd /home/rstudio/stat20/
            
            # render staff-site
            # quarto run render-staff-site.ts
            quarto render
            
            # upload rendered staf site to to stat20staff.netlify.app
            # quarto publish netlify --profile staff-site --no-render --id 33fedc67-c501-4720-bd24-6e00c15aa700
            quarto publish netlify --no-render --id 33fedc67-c501-4720-bd24-6e00c15aa700
